* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #ff9AA2;
}

header {
    padding: 10px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 0;
    position: sticky;
}

header h1 a {
    text-decoration: none;
    color: #ffffff;
    font-size: 48px;
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    color: #ffffff;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 30px;
    text-shadow: 0 0 10px rgba(255, 51, 153, 0.5);
    text-decoration: none;
}

.hero {
    width: auto;
    margin: 0 15px 0 15px;
    background-color: #ffb7b2;
    border: solid #ffffff 3px;
    display: flex;
    justify-content: space-around;
}

.hero-info { 
    display: flex;
    align-items: center;
    margin: 30px;
    border: 5px;
    padding: 15px;
}

.hero-info ul {
    line-height: 2.5;
    text-decoration: dotted;
}

.hero-info ul li {
    color: #ffffff;
    font-size: 30px;
    text-shadow: 0 0 10px rgba(255, 51, 153, 0.5);
}

.hero-image {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 394px;
    background-image: url(../images/panda.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}


