* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #ff9AA2;
    color: #ffffff;
}

header {
    padding: 10px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 0;
    position: static;
}

header h1 a {
    text-decoration: none;
    color: #ffffff;
    font-size: 48px;
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    color: #ffffff;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 30px;
    text-shadow: 0 0 10px rgba(255, 51, 153, 0.5);
    text-decoration: none;
}

header nav ul li a:hover {
    letter-spacing: -.04em ;
    background-color: #e8d0c2;
}

.hero {
    width: auto;
    margin: 0 15px 0 15px;
    background-color: #f8b4b0;
    border: solid #ffffff 3px;
    display: flex;
    justify-content: space-around;
}

.hero-info { 
    display: flex;
    align-items: center;
    margin: 30px;
    padding: 15px;
}

.hero-info ul {
    line-height: 2.5;
    text-decoration: dotted;
}

.hero-info ul li {
    color: #ffffff;
    font-weight: bold;
    font-size: 35px;
    text-shadow: 0 0 10px rgba(255, 51, 153, 0.5);
}

.hero-image {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 394px;
    background-image: url(../images/panda.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.content-container {
    margin: 15px 15px 15px 15px;
    width: 50%;
    display: inline-block;
    background-color: #b5ead7;
    border: solid #ffffff;
    text-align: center;
    align-items: center;
}

.content-container h1 {
    margin: 15px 0 15px 0;
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgba(51, 255, 153, 0.5);
}

.content img {
    max-height: 50%;
    max-width: 50%;
    border: solid #ffffff;
}

#the-genesis { 
    max-height: 70%;
    max-width: 70%;
}

.content img:hover {
    transform: scale(.8)
}

.content p {
    color: #757575;
    font-weight: bolder;
    font-size: x-large;
    padding: 8px 0 5px 0;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.about-me-section {
    margin: 15px 15px 15px 15px;
    width: 40%;
    float: right;
    background-color: #c7ceea;
    border: solid #ffffff;
    text-align: center;
    align-items: center;
}

.selfie img {
    border: solid #ffffff;
    max-height: 50%;
    max-width: 50%;
}

.about-me-section h1 {
    margin: 15px 0 15px 0;
    font-size: 35px;
    text-align: center;
    text-shadow: 0 0 10px rgba(153, 51, 255, 0.5);
}

.selfie h1 {
    margin-bottom: 0px;
}

.selfie p {
    margin-top: 0px;
    color: #ffffff;
    font-size: x-large;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

.summary p {
    margin: 0px 10px 10px 10px;
    color: #757575;
    font-weight: bold;
    font-size: larger;
}

.socials {
    display: flex;
    flex-wrap: wrap;
}
.socials img {
    max-height: 30%;
    max-width: 30%;
}




